@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  margin: 0;
  /* background-color: #f0f0f0; */
  font-family: 'Arial, sans-serif';
  color: #333;
}

.certi-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}


.section{
  margin-top: 50px;
}


.app-content {
  padding: 20px;
  max-width: 800px;
  margin: 55px auto;
  background-color: rgba(212, 212, 161, 60%); /* 0.5 is 50% transparency */
  border-radius: 30px;
}

.app-content .info {
  margin-top: 50px;
}

.step-desc {
  margin-bottom: 20px;
}

.templateses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
}

.templateses img {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 210px;
  border: 2px solid transparent;
}

.templateses img.selected {
  border-color: #000;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-content .mb-3 {
  display: flex;
  flex-direction: column;
}

.form-content .mb-3 label {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #304c60;
}

.form-content #descriptionInput {
  height: 100px;
  padding: 17px;
}

.certificate-preview {
  margin-top: 20px;
  text-align: center;
}

.certificates {
  position: relative;
  width: 700px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.certificates h3,
.certificates p,
.certificates h6,
.certificates h5 {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #000; /* Default text color */
  text-align: center; /* Default alignment */
}

/* Template-specific styles */
/* /////////////////////////////////////////////////////////////Template 1////////////////////////////////////////////////////////////////////// */
.template1 h3 {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ab933c;
  font-family: "Dancing Script", cursive;
}

.template1 p {
  top: 49%;
  left: 20%;
  font-size: 17px;
  width: 437px;
}

.template1 h6 {
  top: 76%;
  left: 23%;
  font-size: 12px;
  position: absolute;
}

.template1 h5 {
  position: absolute;
  top: 74%;
  left: 68%;
  font-size: 23px;
  font-family: "Dancing Script", cursive;
}

/* //////////////////////////////////////////////////////Template 2///////////////////////////////////////////////////////////////////////////////// */

.template2 h3 {
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #dfc15c;
  font-family: "Dancing Script", cursive;
}

.template2 p {
  top: 63%;
  left: 16%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: white;
}

.template2 h6 {
  top: 81%;
  left: 27%;
  font-size: 14px;
  position: absolute;
  color: white;
}

.template2 h5 {
  position: absolute;
  top: 79%;
  font-family: "Dancing Script", cursive;
  left: 61%;
  font-size: 21px;
  color: white;
}

/* ////////////////////////////////////////////////////////////Template 3////////////////////////////////////////////////////////////////////////////// */

.template3 h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #835d35;
  font-family: "Dancing Script", cursive;
}

.template3 p {
  top: 55%;
  left: 15%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: black;
}

.template3 h6 {
  top: 75%;
  left: 26%;
  font-size: 14px;
  position: absolute;
  color: black;
}

.template3 h5 {
  position: absolute;
  top: 73%;
  left: 65%;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: black;
}

/* ////////////////////////////////////////////////////////////Template 4////////////////////////////////////////////////////////////////////////////// */

.template4 h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #5b5b6b;font-family: "Dancing Script", cursive;
}

.template4 p {
  top: 55%;
  left: 15%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: #5b5b6b;
}

.template4 h6 {
  top: 74%;
  left: 21%;
  font-size: 14px;
  position: absolute;
  color: #5b5b6b;
}

.template4 h5 {
  position: absolute;
  top: 73%;
  left: 68%;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  color: #5b5b6b;
}

/* ////////////////////////////////////////////////////////////Template 5////////////////////////////////////////////////////////////////////////////// */

.template5 h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #6a272d;font-family: "Dancing Script", cursive;
}

.template5 p {
  top: 55%;
  left: 15%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: #000;
}

.template5 h6 {
  top: 77%;
  left: 22%;
  font-size: 14px;
  position: absolute;
  color: #000;
}

.template5 h5 {
  position: absolute;
  top: 76%;
  left: 68%;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: #000;
}

/* ////////////////////////////////////////////////////////////Template 6////////////////////////////////////////////////////////////////////////////// */

.template6 h3 {
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000;font-family: "Dancing Script", cursive;
}

.template6 p {
  top: 52%;
  left: 15%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: #000;
}

.template6 h6 {
  top: 78%;
  left: 25%;
  font-size: 14px;
  position: absolute;
  color: #000;
}

.template6 h5 {
  position: absolute;
  top: 77%;
  font-family: "Dancing Script", cursive;
  left: 65%;
  font-size: 22px;
  color: #000;
}

/* ////////////////////////////////////////////////////////////Template 7////////////////////////////////////////////////////////////////////////////// */

.template7 h3 {
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ba8830;font-family: "Dancing Script", cursive;
}

.template7 p {
  top: 52%;
  left: 15%;
  font-size: 16px;
  width: 488px;
  position: absolute;
  color: #000;
}

.template7 h6 {
  top: 78%;
  left: 22%;
  font-size: 14px;
  position: absolute;
  color: #000;
}

.template7 h5 {
  position: absolute;
  top: 77%;
  font-family: "Dancing Script", cursive;
  left: 67%;
  font-size: 22px;
  color: #000;
}

/* ///////////////////////////////////////////////////////////// END //////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {
  .templateses {
    grid-template-columns: repeat(3, 1fr);
  }

  .certificates {
    width: 600px;
    height: 400px;
  }

  /* /////////////////////////////////////////////////////////////Template 1////////////////////////////////////////////////////////////////////// */
  .template1 h3 {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: #dfc15c;
  }

  .template1 p {
    top: 49%;
    left: 14%;
    font-size: 17px;
    width: 437px;
  }

  .template1 h6 {
    top: 76%;
    left: 23%;
    font-size: 12px;
    position: absolute;
  }

  .template1 h5 {
    position: absolute;
    top: 73%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 22px;
  }

  /* //////////////////////////////////////////////////////Template 2///////////////////////////////////////////////////////////////////////////////// */

  .template2 h3 {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: #dfc15c;
  }

  .template2 p {
    top: 63%;
    left: 11%;
    font-size: 16px;
    width: 473px;
    position: absolute;
    color: white;
  }

  .template2 h6 {
    top: 81%;
    left: 27%;
    font-size: 14px;
    position: absolute;
    color: white;
  }

  .template2 h5 {
    position: absolute;
    top: 79%;
    left: 59%;
    font-size: 22px;
    font-family: "Dancing Script", cursive;
    color: white;
  }

  /* ////////////////////////////////////////////////////////////Template 3////////////////////////////////////////////////////////////////////////////// */

  .template3 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #835d35;
  }

  .template3 p {
    top: 55%;
    left: 12%;
    font-size: 16px;
    width: 445px;
    position: absolute;
    color: #000;
  }

  .template3 h6 {
    top: 75%;
    left: 26%;
    font-size: 14px;
    position: absolute;
    color: #000;
  }

  .template3 h5 {
    position: absolute;
    top: 72%;
    left: 63%;
    font-size: 22px;
    font-family: "Dancing Script", cursive;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 4////////////////////////////////////////////////////////////////////////////// */

  .template4 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #5b5b6b;
  }

  .template4 p {
    top: 55%;
    left: 11%;
    font-size: 16px;
    width: 474px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h6 {
    top: 75%;
    left: 22%;
    font-size: 14px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h5 {
    position: absolute;
    top: 72%;
    font-family: "Dancing Script", cursive;
    left: 66%;
    font-size: 22px;
    color: #5b5b6b;
  }

  /* ////////////////////////////////////////////////////////////Template 5////////////////////////////////////////////////////////////////////////////// */

  .template5 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #6a272d;
  }

  .template5 p {
    top: 55%;
    left: 11%;
    font-size: 16px;
    width: 474px;
    position: absolute;
    color: #000;
  }

  .template5 h6 {
    top: 78%;
    left: 22%;
    font-size: 14px;
    position: absolute;
    color: #000;
  }

  .template5 h5 {
    position: absolute;
    top: 75%;
    font-family: "Dancing Script", cursive;
    left: 66%;
    font-size: 22px;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 6////////////////////////////////////////////////////////////////////////////// */

  .template6 h3 {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #000;
  }

  .template6 p {
    top: 52%;
    left: 11%;
    font-size: 16px;
    width: 488px;
    position: absolute;
    color: #000;
  }

  .template6 h6 {
    top: 78%;
    left: 25%;
    font-size: 14px;
    position: absolute;
    color: #000;
  }

  .template6 h5 {
    position: absolute;
    top: 76%;
    left: 63%;
    font-family: "Dancing Script", cursive;
    font-size: 22px;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 7////////////////////////////////////////////////////////////////////////////// */

  .template7 h3 {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #ba8830;
  }

  .template7 p {
    top: 52%;
    left: 11%;
    font-size: 16px;
    width: 488px;
    position: absolute;
    color: #000;
  }

  .template7 h6 {
    top: 78%;
    left: 22%;
    font-size: 14px;
    position: absolute;
    color: #000;
  }

  .template7 h5 {
    position: absolute;
    top: 76%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 22px;
    color: #000;
  }
}

@media (max-width: 992px) {
  .templateses {
    grid-template-columns: repeat(2, 1fr);
  }

  .certificates {
    width: 370px;
    height: 350px;
  }

  /* /////////////////////////////////////////////////////////////Template 1////////////////////////////////////////////////////////////////////// */
  .template1 h3 {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #dfc15c;
  }

  .template1 p {
    top: 49%;
    left: 14%;
    font-size: 15px;
    width: 328px;
  }

  .template1 h6 {
    top: 76%;
    left: 22%;
    font-size: 12px;
    position: absolute;
  }

  .template1 h5 {
    position: absolute;
    top: 74%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
  }

  /* //////////////////////////////////////////////////////Template 2///////////////////////////////////////////////////////////////////////////////// */

  .template2 h3 {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #dfc15c;
  }

  .template2 p {
    top: 63%;
    left: 13%;
    font-size: 14px;
    width: 370px;
    position: absolute;
    color: white;
  }

  .template2 h6 {
    top: 82%;
    left: 26%;
    font-size: 12px;
    position: absolute;
    color: white;
  }

  .template2 h5 {
    position: absolute;
    top: 79%;
    left: 60%;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: white;
  }

  /* ////////////////////////////////////////////////////////////Template 3////////////////////////////////////////////////////////////////////////////// */

  .template3 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #835d35;
  }

  .template3 p {
    top: 55%;
    left: 15%;
    font-size: 14px;
    width: 349px;
    position: absolute;
    color: #000;
  }

  .template3 h6 {
    top: 75%;
    left: 26%;
    font-size: 11px;
    position: absolute;
    color: #000;
  }

  .template3 h5 {
    position: absolute;
    top: 72%;
    left: 63%;
    font-size: 20px;
    color: #000;
    font-family: "Dancing Script", cursive;
  }

  /* ////////////////////////////////////////////////////////////Template 4////////////////////////////////////////////////////////////////////////////// */

  .template4 h3 {
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #5b5b6b;
  }

  .template4 p {
    top: 55%;
    left: 14%;
    font-size: 13px;
    width: 364px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h6 {
    top: 74%;
    left: 21%;
    font-size: 12px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h5 {
    position: absolute;
    top: 72%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #5b5b6b;
  }

  /* ////////////////////////////////////////////////////////////Template 5////////////////////////////////////////////////////////////////////////////// */

  .template5 h3 {
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #6a272d;
  }

  .template5 p {
    top: 55%;
    left: 13%;
    font-size: 14px;
    width: 369px;
    position: absolute;
    color: #000;
  }

  .template5 h6 {
    top: 77%;
    left: 21%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template5 h5 {
    position: absolute;
    top: 75%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 6////////////////////////////////////////////////////////////////////////////// */

  .template6 h3 {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #000;
  }

  .template6 p {
    top: 52%;
    left: 16%;
    font-size: 14px;
    width: 333px;
    position: absolute;
    color: #000;
  }

  .template6 h6 {
    top: 77%;
    left: 25%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template6 h5 {
    position: absolute;
    top: 75%;
    left: 63%;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 7////////////////////////////////////////////////////////////////////////////// */

  .template7 h3 {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #ba8830;
  }

  .template7 p {
    top: 52%;
    left: 8%;
    font-size: 16px;
    width: 422px;
    position: absolute;
    color: #000;
  }

  .template7 h6 {
    top: 78%;
    left: 21%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template7 h5 {
    position: absolute;
    top: 76%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: #000;
  }
}

/* ///////////////////////////////////////////////////////////// Tablet View /////////////////////////////////////////////// */

@media (max-width: 381px) {
  .app-content {
    padding: 10px;
  }

  .templateses {
    grid-template-columns: 1fr;
  }

  .form-content {
    padding: 10px;
  }

  .certificates {
    width: 100%;
    height: 200;
    background-size: contain;
  }
  /* ////////////////////////////////////////////////////////////Template 1////////////////////////////////////////////////////////////////////////////// */

  .template1 h3 {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #dfc15c;
  }

  .template1 p {
    top: 53%;
    left: 28%;
    font-size: 11px;
    width: 330px;
    position: absolute;
  }

  .template1 h6 {
    top: 76%;
    left: 30%;
    font-size: 12px;
    position: absolute;
  }

  .template1 h5 {
    position: absolute;
    top: 74%;
    left: 62%;
    font-family: "Dancing Script", cursive;
    font-size: 19px;
  }

  /* ////////////////////////////////////////////////////////////Template 2////////////////////////////////////////////////////////////////////////////// */

  .template2 h3 {
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #dfc15c;
  }

  .template2 p {
    top: 63%;
    left: 28%;
    font-size: 11px;
    width: 330px;
    position: absolute;
    color: white;
  }

  .template2 h6 {
    top: 81%;
    left: 33%;
    font-size: 12px;
    position: absolute;
    color: white;
  }

  .template2 h5 {
    position: absolute;
    top: 79%;
    left: 57%;
    font-family: "Dancing Script", cursive;
    font-size: 19px;
    color: white;
  }

  /* ////////////////////////////////////////////////////////////Template 3////////////////////////////////////////////////////////////////////////////// */

  .template3 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #835d35;
  }

  .template3 p {
    top: 56%;
    left: 28%;
    font-size: 12px;
    width: 330px;
    color: #000;
  }

  .template3 h6 {
    top: 74%;
    left: 32%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template3 h5 {
    position: absolute;
    top: 72%;
    left: 60%;
    font-size: 19px;
    color: #000;
    font-family: "Dancing Script", cursive;
  }

  /* ////////////////////////////////////////////////////////////Template 4////////////////////////////////////////////////////////////////////////////// */

  .template4 h3 {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #5b5b6b;
  }

  .template4 p {
    top: 58%;
    left: 24%;
    font-size: 12px;
    width: 390px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h6 {
    top: 74%;
    left: 30%;
    font-size: 12px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h5 {
    position: absolute;
    top: 72%;
    font-family: "Dancing Script", cursive;
    left: 62%;
    font-size: 19px;
    color: #5b5b6b;
  }

  /* ////////////////////////////////////////////////////////////Template 5////////////////////////////////////////////////////////////////////////////// */

  .template5 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: #6a272d;
  }

  .template5 p {
    top: 56%;
    left: 24%;
    font-size: 12px;
    width: 390px;
    position: absolute;
    color: #000;
  }

  .template5 h6 {
    top: 77%;
    left: 30%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template5 h5 {
    position: absolute;
    top: 75%;
    left: 62%;
    font-family: "Dancing Script", cursive;
    font-size: 19px;
    color: #000;
  }
  /* ////////////////////////////////////////////////////////////Template 6////////////////////////////////////////////////////////////////////////////// */

  .template6 h3 {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #000;
  }

  .template6 p {
    top: 52%;
    left: 24%;
    font-size: 13px;
    width: 390px;
    position: absolute;
    color: #000;
  }

  .template6 h6 {
    top: 78%;
    left: 31%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template6 h5 {
    position: absolute;
    top: 76%;
    left: 60%;
    font-family: "Dancing Script", cursive;
    font-size: 19px;
    color: #000;
  }

  /* ////////////////////////////////////////////////////////////Template 7////////////////////////////////////////////////////////////////////////////// */

  .template7 h3 {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #ba8830;
  }

  .template7 p {
    top: 52%;
    left: 24%;
    font-size: 13px;
    width: 390px;
    position: absolute;
    color: #000;
  }

  .template7 h6 {
    top: 78%;
    left: 30%;
    font-size: 12px;
    position: absolute;
    color: #000;
  }

  .template7 h5 {
    position: absolute;
    top: 77%;
    left: 62%;
    font-family: "Dancing Script", cursive;
    font-size: 19px;
    color: #000;
  }

  .form-content .mb-3 {
    margin-bottom: 15px;
  }
}

/* ///////////////////////////////////////// Mobile View //////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 320px) and (max-width: 380px) {
  .templateses img {
    width: 100%;
    height: auto;
  }

  .form-content {
    gap: 10px;
  }

  .form-content .mb-3 {
    margin-bottom: 10px;
  }

  .certificates {
    padding: 10px;
  }

  /* ////////////////////////////////////////////////////////////////////////Template 1///////////////////////////////////////////////////// */

  .template1 h3 {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #dfc15c;
  }

  .template1 p {
    top: 52%;
    left: 6%;
    font-size: 9px;
    width: 265px;
    position: absolute;
  }

  .template1 h6 {
    top: 65%;
    left: 20%;
    font-size: 8px;
    position: absolute;
  }

  .template1 h5 {
    position: absolute;
    top: 64%;
    left: 66%;
    font-family: "Dancing Script", cursive;
    font-size: 12px;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 2//////////////////////////////////////////// */

  .template2 h3 {
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #dfc15c;
  }

  .template2 p {
    top: 58%;
    left: 8%;
    font-size: 9px;
    width: 260px;
    position: absolute;
    color: white;
  }

  .template2 h6 {
    top: 69%;
    left: 25%;
    font-size: 8px;
    position: absolute;
    color: white;
  }

  .template2 h5 {
    position: absolute;
    top: 68%;
    font-family: "Dancing Script", cursive;
    left: 61%;
    font-size: 10px;
    color: white;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 3//////////////////////////////////////////// */

  .template3 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #835d35;
  }

  .template3 p {
    top: 54%;
    left: 9%;
    font-size: 9px;
    width: 247px;
    position: absolute;
    color: #000;
  }

  .template3 h6 {
    top: 64%;
    left: 24%;
    font-size: 8px;
    position: absolute;
    color: #000;
  }

  .template3 h5 {
    position: absolute;
    top: 63%;
    left: 64%;
    font-size: 13px;
    color: #000;
    font-family: "Dancing Script", cursive;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 4//////////////////////////////////////////// */

  .template4 h3 {
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #5b5b6b;
  }

  .template4 p {
    top: 55%;
    left: 6%;
    font-size: 9px;
    width: 265px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h6 {
    top: 64%;
    left: 20%;
    font-size: 8px;
    position: absolute;
    color: #5b5b6b;
  }

  .template4 h5 {
    position: absolute;
    top: 63%;
    left: 67%;
    font-size: 13px;
    color: #5b5b6b;
    font-family: "Dancing Script", cursive;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 5//////////////////////////////////////////// */

  .template5 h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #6a272d;
  }

  .template5 p {
    top: 55%;
    left: 3%;
    font-size: 10px;
    width: 280px;
    position: absolute;
    color: #000;
  }

  .template5 h6 {
    top: 66%;
    left: 20%;
    font-size: 9px;
    position: absolute;
    color: #000;
  }

  .template5 h5 {
    position: absolute;
    top: 65%;
    left: 67%;
    font-family: "Dancing Script", cursive;
    font-size: 13px;
    color: #000;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 6//////////////////////////////////////////// */

  .template6 h3 {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #000;
  }

  .template6 p {
    top: 52%;
    left: 3%;
    font-size: 10px;
    width: 280px;
    position: absolute;
    color: #000;
  }

  .template6 h6 {
    top: 67%;
    left: 24%;
    font-size: 8px;
    position: absolute;
    color: #000;
  }

  .template6 h5 {
    position: absolute;
    top: 66%;
    font-family: "Dancing Script", cursive;
    left: 64%;
    font-size: 13px;
    color: #000;
  }

  /* /////////////////////////////////////////////////////////////////////////Template 7 //////////////////////////////////////////// */

  .template7 h3 {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ba8830;
  }

  .template7 p {
    top: 52%;
    left: 2%;
    font-size: 10px;
    width: 280px;
    position: absolute;
    color: #000;
  }

  .template7 h6 {
    top: 67%;
    left: 20%;
    font-size: 9px;
    position: absolute;
    color: #000;
  }

  .template7 h5 {
    position: absolute;
    top: 66%;
    left: 67%;
    font-family: "Dancing Script", cursive;
    font-size: 13px;
    color: #000;
  }
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.submit {
  background-color: #00c689;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 8px;
  width: 200px;
}

.submit1 {
  background-color: #00c689;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 8px;
  width: 200px;
}

.submit:hover,
.submit1:hover {
  background: #00a76a;
}
